.navbar{
    height: 50px;
    background-color: rgb(84, 138, 238);
    display: flex;
    justify-content: center;
}

.navContainer{
    width: 100%;
    max-width: 1024px;
    color: azure;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: 500;
}
.navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: rgb(42, 73, 12);
    background-color: rgb(192, 218, 192);
    border-radius: 2px;
}
.navButton:hover{
    background-color: chartreuse;
}