.header{
    background-color: rgb(84, 138, 238);
    color: azure;
    display: flex;
    justify-content: center;
    position: relative;
}

.headerContainer{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}
.headerList{
    display: flex;
    gap: 30px;
}
.headerListItem{
    display: flex;
    gap: 10px;
    align-items: center;
}
.headerListItem.active{
    border: 1px solid whitesmoke;
    padding: 10px;
    border-radius: 20px;
}
.headerDesc{
    margin: 20px 0px;
}
.headerBtn{
    background-color: rgb(13, 218, 30);
    color: azure;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.headerSearch{
    height: 30px;
    background-color: rgb(165, 206, 206);
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
}
.headerIcon{
    color: lightcoral;
}
.headerSearchItem{
    display: flex;
    align-items: center;
    gap: 10px;
}
.headerSearchInput{
    border: none;
    outline: none;
}